In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Titanic.csv")

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Data Description:
- Survival - Survival (0 = No; 1 =Yes). Not included in test.csv file
- Pclass - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
- Name - Name
- Sex - Sex
- Age - Age
- Sibsp - Number of Siblings/Spouses Aboard
- Parch - Number of Parents/Children Aboard
- Ticket - Ticket Number
- Fare - Passenger Fare
- Cabin - Cabin
- Embarked - Port of Embarkation (C = Cherbourg; Q = Queentown; S = Southampton)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [6]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [8]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [10]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.361582    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.019697    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [11]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [13]:
df.dropna(inplace = True)

In [14]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

In [20]:
df = df.drop(['Fare'], axis=1)

## Encoding the Categorical Columns and splitting into x and y

In [21]:
x = df.iloc[:, 1:]
y = df.iloc[:, :1]

In [22]:
x.head()

   Pclass     Sex   Age  SibSp  Parch Embarked
0       3    male  22.0      1      0        S
1       1  female  38.0      1      0        C
2       3  female  26.0      0      0        S
3       1  female  35.0      1      0        S
4       3    male  35.0      0      0        S

In [23]:
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

- Column Transformation
- First attri - Transformers
- Transformers: list of tuples
- List of (name, transformer, columns)

- ramainder = 'passthrough'
- by defaul = 'drop'

In [24]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [25]:
ct = ColumnTransformer(transformers=[("encoder", OneHotEncoder(), 
                                      ['Sex', 'Embarked'])], 
                       remainder = 'passthrough')

In [26]:
x = ct.fit_transform(x)

In [27]:
x

array([[ 0.,  1.,  0., ..., 22.,  1.,  0.],
       [ 1.,  0.,  1., ..., 38.,  1.,  0.],
       [ 1.,  0.,  0., ..., 26.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ..., 28.,  1.,  2.],
       [ 0.,  1.,  1., ..., 26.,  0.,  0.],
       [ 0.,  1.,  0., ..., 32.,  0.,  0.]])

In [28]:
x[0]

array([ 0.,  1.,  0.,  0.,  1.,  3., 22.,  1.,  0.])

In [29]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [30]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=123)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [32]:
logreg = LogisticRegression()
knn = KNeighborsClassifier()
svm = SVC()

In [33]:
def mymodel(model):
    model.fit(xtrain, ytrain)
    ypred = model.predict(xtest)
    print(classification_report(ytest, ypred))
    return model

In [34]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [35]:
pipe = Pipeline(steps = [("scaler", StandardScaler()), ("svm", SVC())])

In [36]:
mymodel(logreg)

              precision    recall  f1-score   support

           0       0.77      0.89      0.83       134
           1       0.78      0.61      0.68        89

    accuracy                           0.78       223
   macro avg       0.78      0.75      0.75       223
weighted avg       0.78      0.78      0.77       223

LogisticRegression()

In [37]:
mymodel(knn)

              precision    recall  f1-score   support

           0       0.77      0.88      0.82       134
           1       0.77      0.60      0.67        89

    accuracy                           0.77       223
   macro avg       0.77      0.74      0.75       223
weighted avg       0.77      0.77      0.76       223

KNeighborsClassifier()

In [38]:
mymodel(svm)

              precision    recall  f1-score   support

           0       0.62      0.99      0.76       134
           1       0.82      0.10      0.18        89

    accuracy                           0.63       223
   macro avg       0.72      0.54      0.47       223
weighted avg       0.70      0.63      0.53       223

SVC()

In [39]:
svm = SVC(kernel="linear")
mymodel(svm)

              precision    recall  f1-score   support

           0       0.79      0.87      0.83       134
           1       0.77      0.64      0.70        89

    accuracy                           0.78       223
   macro avg       0.78      0.76      0.76       223
weighted avg       0.78      0.78      0.78       223

SVC(kernel='linear')

In [40]:
svm = SVC(kernel="poly")
mymodel(svm)

              precision    recall  f1-score   support

           0       0.65      0.99      0.78       134
           1       0.94      0.18      0.30        89

    accuracy                           0.67       223
   macro avg       0.79      0.59      0.54       223
weighted avg       0.76      0.67      0.59       223

SVC(kernel='poly')

In [41]:
svm = SVC(kernel="sigmoid")
mymodel(svm)

              precision    recall  f1-score   support

           0       0.57      0.71      0.63       134
           1       0.30      0.19      0.23        89

    accuracy                           0.50       223
   macro avg       0.44      0.45      0.43       223
weighted avg       0.46      0.50      0.47       223

SVC(kernel='sigmoid')

## GridSearch CV --> Helps in HyperParameter Tuning

In [42]:
# svm = SVC('C' = 1, 'gamma' = 1)
# svm = SVC('C' = 1, 'gamma' = 10)
# svm = SVC('C' = 10, 'gamma' = 1)
# svm = SVC('C' = 10, 'gamma' = 10)

In [43]:
from sklearn.model_selection import GridSearchCV

In [46]:
param_grid = {'C':[1,10], 'gamma':[1,10], 'kernel':['rbf']}

In [47]:
gs = GridSearchCV(svm, param_grid, verbose =3)
#verbose is not a hyperparameter --> it is used just for info display
gs.fit(xtrain, ytrain)
ypred = gs.predict(xtest)

Fitting 5 folds for each of 4 candidates, totalling 20 fits
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.746 total time=   0.0s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.759 total time=   0.0s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.789 total time=   0.0s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.752 total time=   0.0s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END .........C=1, gamma=10, kernel=rbf;, score=0.649 total time=   0.0s
[CV 2/5] END .........C=1, gamma=10, kernel=rbf;, score=0.654 total time=   0.0s
[CV 3/5] END .........C=1, gamma=10, kernel=rbf;, score=0.684 total time=   0.0s
[CV 4/5] END .........C=1, gamma=10, kernel=rbf;, score=0.632 total time=   0.0s
[CV 5/5] END .........C=1, gamma=10, kernel=rbf;, score=0.662 total time=   0.0s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.746 total time=   0.0s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.759 total time=   0.0s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.774 total time=   0.0s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.759 total time=   0.0s
[CV 1/5] END ........C=10, gamma=10, kernel=rbf;, score=0.649 total time=   0.0s
[CV 2/5] END ........C=10, gamma=10, kernel=rbf;, score=0.654 total time=   0.0s
[CV 3/5] END ........C=10, gamma=10, kernel=rbf;, score=0.677 total time=   0.0s
[CV 4/5] END ........C=10, gamma=10, kernel=rbf;, score=0.632 total time=   0.0s
[CV 5/5] END ........C=10, gamma=10, kernel=rbf;, score=0.662 total time=   0.0s

In [48]:
gs.best_params_

{'C': 1, 'gamma': 1, 'kernel': 'rbf'}

In [49]:
y_train_grid = gs.predict(xtrain)
y_test_grid = gs.predict(xtest)

In [50]:
gs.best_score_

0.7672988441252386

In [52]:
gs.best_estimator_

SVC(C=1, gamma=1)

In [53]:
svm = gs.best_estimator_
svm.fit(xtrain, ytrain)
ypred = svm.predict(xtest)

In [54]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.74      0.92      0.82       134
           1       0.80      0.51      0.62        89

    accuracy                           0.75       223
   macro avg       0.77      0.71      0.72       223
weighted avg       0.76      0.75      0.74       223

In [55]:
param_grid = {'C':[1,10], 'gamma':[1,10], 'kernel':['linear']}

In [56]:
gs_1 = GridSearchCV(svm, param_grid, verbose =3)
#verbose is not a hyperparameter --> it is used just for info display
gs_1.fit(xtrain, ytrain)
ypred = gs_1.predict(xtest)

Fitting 5 folds for each of 4 candidates, totalling 20 fits
[CV 1/5] END .......C=1, gamma=1, kernel=linear;, score=0.776 total time=   0.0s
[CV 2/5] END .......C=1, gamma=1, kernel=linear;, score=0.774 total time=   0.0s
[CV 3/5] END .......C=1, gamma=1, kernel=linear;, score=0.827 total time=   0.0s
[CV 4/5] END .......C=1, gamma=1, kernel=linear;, score=0.782 total time=   0.0s
[CV 5/5] END .......C=1, gamma=1, kernel=linear;, score=0.789 total time=   0.0s
[CV 1/5] END ......C=1, gamma=10, kernel=linear;, score=0.776 total time=   0.0s
[CV 2/5] END ......C=1, gamma=10, kernel=linear;, score=0.774 total time=   0.0s
[CV 3/5] END ......C=1, gamma=10, kernel=linear;, score=0.827 total time=   0.0s
[CV 4/5] END ......C=1, gamma=10, kernel=linear;, score=0.782 total time=   0.0s
[CV 5/5] END ......C=1, gamma=10, kernel=linear;, score=0.789 total time=   0.0s
[CV 1/5] END ......C=10, gamma=1, kernel=linear;, score=0.776 total time=   0.6s
[CV 2/5] END ......C=10, gamma=1, kernel=linear;, score=0.774 total time=   0.0s
[CV 3/5] END ......C=10, gamma=1, kernel=linear;, score=0.827 total time=   0.9s
[CV 4/5] END ......C=10, gamma=1, kernel=linear;, score=0.782 total time=   0.1s
[CV 5/5] END ......C=10, gamma=1, kernel=linear;, score=0.789 total time=   0.8s
[CV 1/5] END .....C=10, gamma=10, kernel=linear;, score=0.776 total time=   0.6s
[CV 2/5] END .....C=10, gamma=10, kernel=linear;, score=0.774 total time=   0.0s
[CV 3/5] END .....C=10, gamma=10, kernel=linear;, score=0.827 total time=   0.9s
[CV 4/5] END .....C=10, gamma=10, kernel=linear;, score=0.782 total time=   0.1s
[CV 5/5] END .....C=10, gamma=10, kernel=linear;, score=0.789 total time=   0.7s

In [57]:
gs_1.best_params_

{'C': 1, 'gamma': 1, 'kernel': 'linear'}

In [58]:
y_train_grid = gs_1.predict(xtrain)
y_test_grid = gs_1.predict(xtest)

In [59]:
gs_1.best_score_

0.7898103467624285

In [60]:
gs_1.best_estimator_

SVC(C=1, gamma=1, kernel='linear')

In [61]:
svm_1 = gs_1.best_estimator_
svm_1.fit(xtrain, ytrain)
ypred_1 = svm_1.predict(xtest)

In [62]:
print(classification_report(ytest, ypred_1))

              precision    recall  f1-score   support

           0       0.79      0.87      0.83       134
           1       0.77      0.64      0.70        89

    accuracy                           0.78       223
   macro avg       0.78      0.76      0.76       223
weighted avg       0.78      0.78      0.78       223