In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('cars.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [4]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
#NA, MISSING, NAN," "

# check all the colums with object datatype--> 
# incase it has numeric value but some values of string time hence object dtype and not int dtype is shown
#normalized losses & horsepower has object dtype but numeric data hence migth have null values.

In [6]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'body-style',
       'drive-wheels', 'engine-location', 'width', 'height', 'engine-type',
       'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [7]:
df['normalized-losses'].value_counts().head()

?      41
161    11
91      8
150     7
134     6
Name: normalized-losses, dtype: int64

In [8]:
#Now 20% data (ie. 41/205) has ?

#Pandas & sklearn handle only 'NAN' values and not 'missing,NA,?'

In [9]:
#step1: replace ? with NAN
df['normalized-losses'].replace('?',np.nan,inplace=True)
df['horsepower'].replace('?',np.nan,inplace=True)

#step2: change the datatype
df['normalized-losses']=df['normalized-losses'].astype("float64")
df['horsepower']=df['horsepower'].astype("float64")

#step3:get mean
nlmean=df['normalized-losses'].mean()
hpmean=df['horsepower'].mean()

#step4: fillna()
df['normalized-losses'].fillna(nlmean,inplace=True)
df['horsepower'].fillna(hpmean,inplace=True)

In [10]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    float64
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.1+ KB

In [12]:
df_num = df.select_dtypes(['int64', 'float64'])

In [13]:
df_cat = df.select_dtypes(object)

In [14]:
df_num

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...
200,-1,95.0,68.9,55.5,141,114.0,23,28,16845
201,-1,95.0,68.8,55.5,141,160.0,19,25,19045
202,-1,95.0,68.9,55.5,173,134.0,18,23,21485
203,-1,95.0,68.9,55.5,145,106.0,26,27,22470
204,-1,95.0,68.9,55.5,141,114.0,19,25,22625

In [15]:
from sklearn.preprocessing import LabelEncoder
for i in df_cat:
    le = LabelEncoder()
    df_cat[i] = le.fit_transform(df_cat[i])

In [16]:
df_1 = pd.concat([df_cat, df_num], axis = 1)

In [17]:
df_1

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,0,1,2,2,0,5,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,1,1,3,1,0,3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,1,1,3,0,0,3,2,164.0,66.4,54.3,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,21,1,3,2,0,3,-1,95.0,68.9,55.5,141,114.0,23,28,16845
201,21,1,3,2,0,3,-1,95.0,68.8,55.5,141,160.0,19,25,19045
202,21,1,3,2,0,5,-1,95.0,68.9,55.5,173,134.0,18,23,21485
203,21,0,3,2,0,3,-1,95.0,68.9,55.5,145,106.0,26,27,22470
204,21,1,3,2,0,3,-1,95.0,68.9,55.5,141,114.0,19,25,22625

In [18]:
x = df_1.iloc[:, :-1]
y = df_1.iloc[:, -1]

In [19]:
x.head()

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg
0,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27
1,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27
2,0,1,2,2,0,5,1,122.0,65.5,52.4,152,154.0,19,26
3,1,1,3,1,0,3,2,164.0,66.2,54.3,109,102.0,24,30
4,1,1,3,0,0,3,2,164.0,66.4,54.3,136,115.0,18,22

In [20]:
y.head()

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
xtrain,  xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.3, random_state =1)

In [22]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(xtrain, ytrain)

LinearRegression()

In [23]:
train = linreg.score(xtrain, ytrain)
test = linreg.score(xtest, ytest)

In [24]:
print(f'Training accuracy  is {train}')
print(f'Testing accuracy is {test}')

Training accuracy  is 0.8504573774895473
Testing accuracy is 0.7965566780397368

- Since Training accuracy is high, we can say Bias is Low
- Since Testing accuracy is relatively lower, we can say variance is relatively higher
- Looking at the above 2 statements, we can say that Bias is low and Variance is high, so it is the case of Over Fitting

## L2 regularisation

In [25]:
from sklearn.linear_model import Ridge, Lasso
l2 = Ridge(alpha =5)
l2.fit(xtrain, ytrain)

Ridge(alpha=5)

In [26]:
train = l2.score(xtrain, ytrain)
test = l2.score(xtest, ytest)

In [27]:
print(f'Training accuracy is {train}')
print(f'Testing accuracy is {test}')

Training accuracy is 0.8214255248858175
Testing accuracy is 0.8141745853539417

In [28]:
for i in range(1,30):
    l2 = Ridge(alpha=i)
    l2.fit(xtrain, ytrain)
    test = l2.score(xtest, ytest)
    print(f'for the value of lambda {i}: test score is--> {test} ')

for the value of lambda 1: test score is--> 0.8074518758147272
for the value of lambda 2: test score is--> 0.8110292248150518
for the value of lambda 3: test score is--> 0.8126933383890033
for the value of lambda 4: test score is--> 0.81361486450293
for the value of lambda 5: test score is--> 0.8141745853539417
for the value of lambda 6: test score is--> 0.8145301242133358
for the value of lambda 7: test score is--> 0.8147582608502816
for the value of lambda 8: test score is--> 0.8149010602831955
for the value of lambda 9: test score is--> 0.8149836949253054
for the value of lambda 10: test score is--> 0.8150222867376525
for the value of lambda 11: test score is--> 0.8150277245431788
for the value of lambda 12: test score is--> 0.8150076788279417
for the value of lambda 13: test score is--> 0.8149677381788261
for the value of lambda 14: test score is--> 0.8149120868051176
for the value of lambda 15: test score is--> 0.814843927825252
for the value of lambda 16: test score is--> 0.8147657584947389
for the value of lambda 17: test score is--> 0.8146795554128122
for the value of lambda 18: test score is--> 0.8145869029046835
for the value of lambda 19: test score is--> 0.8144890843369584
for the value of lambda 20: test score is--> 0.8143871485445552
for the value of lambda 21: test score is--> 0.8142819591129826
for the value of lambda 22: test score is--> 0.8141742315788494
for the value of lambda 23: test score is--> 0.8140645619421538
for the value of lambda 24: test score is--> 0.813953448816606
for the value of lambda 25: test score is--> 0.813841310845204
for the value of lambda 26: test score is--> 0.8137285005403769
for the value of lambda 27: test score is--> 0.8136153153884843
for the value of lambda 28: test score is--> 0.8135020068362637
for the value of lambda 29: test score is--> 0.8133887876197212

In [29]:
from sklearn.linear_model import Ridge, Lasso
l2 = Ridge(alpha =11)
l2.fit(xtrain, ytrain)

Ridge(alpha=11)

In [30]:
train = l2.score(xtrain, ytrain)
test = l2.score(xtest, ytest)

In [31]:
print(f'Training accuracy after best value of Ridge is {train}')
print(f'Testing accuracy after best value of Ridge is {test}')

Training accuracy after best value of Ridge is 0.8096241695970484
Testing accuracy after best value of Ridge is 0.8150277245431788

## L1 regularization

In [32]:
from sklearn.linear_model import Ridge, Lasso
l1 = Lasso(alpha =5)
l1.fit(xtrain, ytrain)

Lasso(alpha=5)

In [33]:
train = l1.score(xtrain, ytrain)
test = l1.score(xtest, ytest)
print(f'Training accuracy is: {train}')
print(f'Testing accuracy is: {test}')

Training accuracy is: 0.8504235531596668
Testing accuracy is: 0.7974142904692179

In [34]:
iteration_l1 = []
value_l1 = []
for i in range(1,400):
    l1_2 = Lasso(alpha = i)
    l1_2.fit(xtrain, ytrain)
    test_l1 = l1_2.score(xtest, ytest)
    value_l1.append(test_l1)
    iteration_l1.append(i)

In [35]:
df_l1 = pd.DataFrame({'i value':iteration_l1, 'test score':value_l1})

In [36]:
df_l1

     i value  test score
0          1    0.796730
1          2    0.796903
2          3    0.797074
3          4    0.797245
4          5    0.797414
..       ...         ...
394      395    0.798357
395      396    0.798231
396      397    0.798105
397      398    0.797978
398      399    0.797851

[399 rows x 2 columns]

In [37]:
max_score = df_l1['test score'].max()

In [38]:
max_score

0.8139617970312925

In [39]:
df_l1[df_l1['test score'] == 0.8139617970312925]

     i value  test score
209      210    0.813962

In [40]:
df_l1['test score'].value_counts()

0.796730    1
0.810589    1
0.810745    1
0.810822    1
0.810899    1
           ..
0.811414    1
0.811348    1
0.811282    1
0.811215    1
0.797851    1
Name: test score, Length: 399, dtype: int64

In [41]:
from sklearn.linear_model import Ridge, Lasso
l1 = Lasso(alpha =210)
l1.fit(xtrain, ytrain)
train = l1.score(xtrain, ytrain)
test = l1.score(xtest, ytest)
print(f'Training accuracy is: {train}')
print(f'Testing accuracy is: {test}')

Training accuracy is: 0.793474604085966
Testing accuracy is: 0.8139617970312925

- as the difference in scores is less in Ridge than in Lasso, we can say that Ridge will give better accuracy than Lasso

## Cross Validation Technique

In [42]:
from sklearn.model_selection import KFold,cross_val_score

In [43]:
kf = KFold(n_splits=5)
cvs = cross_val_score(l1, x, y, cv=kf)
print(cvs)
print(cvs.mean())

[0.82250521 0.8240032  0.16469303 0.44513581 0.4018741 ]
0.5316422705812628

In [48]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
skf = StratifiedKFold(n_splits = 2) # try putting n_split =5
cvs = cross_val_score(l1, x, y, cv=skf)
print(cvs)
print(cvs.mean())

[0.81423234 0.71032806]
0.7622801990165896